*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


.scroll-hide {overflow: hidden; }
html {scroll-behavior: smooth;}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a{
    text-decoration: none;
}


.stick-block-phone {
    width: 100%;
    background-color: #f1f1f1;
    padding: 25px;
    position: fixed;
    bottom: 0;
    z-index: 777;
    display: none;
    
}


/*navigation*/

.nav-icon {
    display: none;
    margin: 0;
    width: 35px;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
    background-color: rgb(58, 58, 58);
    border-radius: 3px;
    content: "";
    display: block;
    height: 3px;
    margin: 8px 0;
    transition: all 0.3s ease-in-out;
}

.nav-icon.closed:before {
    transform: translateY(5px) translateX(-5px) rotate(130deg);
    width: 18px;
}

.nav-icon.closed:after {
    transform: translateY(-5px) translateX(-5px) rotate(-130deg);
    width: 18px;
}

.nav-menu li{
    list-style: none;
}

.nav-menu li a {
    font-size: 14px;
    font-weight: 600;
    color: #505050;
    text-decoration: none;

}

.nav-menu {
    display: flex;
    gap: 30px;
    align-items: center;

}

.btn-head{
    display: flex;
    gap: 15px;
}

.nav-menu a{
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.bth-head-menu{
    background-color: #0048BB;
    width: 236px;
    padding: 18px 20px;
    text-align: center;
    border-radius: 10px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}

.header-nav-container{
    width: 100%;
    background-color: #ffffff;
    top: -150px;
    transition: top 1s;
    z-index: 9999;
}

.header-nav-container.fixed{
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    top: 0;

}


/*-----------------------SLIDER---------------------------*/

.slider{
    padding-top: 270px;
    padding-bottom: 120px;
    max-width: 100%;
    background: url('../image/slide_pic.jpg') no-repeat center top / cover;
}

.tittle h1{
    font-size: 48px;
    text-transform: uppercase;
    line-height: 64px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    padding-bottom: 15px;
}

.tittle strong{
    font-size: 16px;
    text-transform: uppercase;
    line-height: 28px;
    font-weight: 600;
    color: #ffffff;
}


/*------------------------------PROMO---------------------------*/

.promo{
    padding: 30px 0;
    background-color: #F8F8F8;
}

.banners-promo{
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    gap: 20px;
    max-inline-size: 1200px;
    margin-inline: auto;
    width: 100%;
    align-items: center;
}

.banner{
    display: flex;
    gap: 25px;
    width: 592px;
    background-color: #ffffff;
    padding: 30px 30px 20px;
    border-radius: 10px;
    vertical-align: top;
}

.banner span{
    font-size: 52px;
    font-weight: 800;
    color: #0048BB;
    line-height: 52px;
}

.banners-promo p{
    font-size: 12px;
    font-weight: 700;
    color: #505050;
    width: 50%;
    line-height: 23px;
}

.offer-one span{
    color: #FFD21F;
}



/*-------------------------------------APPLIANCES-----------------------*/

.appliances{
    padding-top: 80px;
}


h2{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    color: #222222;
}

.tittle-appliance p{
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    color: #505050;
    margin-top: 21px;
    padding: 0 200px;
}

.tittle-appliance{
    text-align: center;
    justify-content: center;
}

.item span{
    font-size: 14px;
    font-weight: 600;
    color: #222222;
    text-align: center;
    line-height: 24px;
    margin-top: 15px;
}

.item{
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    text-align: center;
}

.container-appliance{
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px;
    max-inline-size: 1200px;
    margin-inline: auto;
    width: 100%;
}


.btn-call{
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    width: 240px;
    text-transform: uppercase;
    background-color: #0048BB;
    padding: 14px 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-book{
    font-size: 14px;
    font-weight: 700;
    color: #222222;
    width: 240px;
    text-transform: uppercase;
    border: 1px solid #222222;
    padding: 14px 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btns-appliance{
    display: flex;
    gap: 15px;
    margin-top: 45px;
    justify-content: center;
    padding-bottom: 80px;
}

.line{
    border-bottom: 1px solid #E2E2E2;
}


/*------------------------------- ABOUT US -----------------------------*/

p{
    font-size: 14px;
    color: #505050;
    line-height: 25px;
    font-weight: 400;
}

.description h2{
    line-height: 40px;
    margin-bottom: 28px;
}

.description a{
    font-size: 25px;
    line-height: 41px;
    font-weight: 700;
    color: #0048BB;
}

.par-descr p{
    padding-bottom: 28px;
}

.block{
    padding: 80px 0;
    display: flex;
    gap: 70px;
    align-items: center;
}

.picture-about{
    width: 100%;
}

/*---------------------------PRIVEL--------------------------*/

.general-privel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-inline-size: 1200px;
    margin-inline: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 80px 0;
}

.privel-item{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 275px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 45px;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

.priv-descr span{
    font-size: 17px;
    color: #222222;
    font-weight: 600;
}

.priv-descr p{
    margin-top: 12px;
}

.privel-item img{
    margin-bottom: 23px;
}



/*-------------------------CONTENT------------------------*/

.block-content{
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    gap: 30px;
    max-inline-size: 1200px;
    margin-inline: auto;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    padding: 80px 0;
}

.guarantees{
    background-color: #F8F8F8;
    padding: 50px;
    border-radius: 10px;
    width: 100%;
}

.emergency{
    width: 100%;
}

.emergency h2{
    margin-bottom: 35px;
}

.emergency p{
    margin-bottom: 20px;
}

ol li{
    list-style: none;
    color: #505050;
    font-size: 14px;
    font-weight: 600;
    line-height: 35px;
}

.guarantees h2{
    margin-bottom: 30px;
}

.btns-content{
    margin-top: 35px;
    display: flex;
    gap: 15px;
}


/*-----------------------------------DEPEND------------------------*/

.block-depend{
    padding: 80px 0;
    align-items: center;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.tittle-depend{
    background-color: #0048BB;
    padding: 70px;
    line-height: 41px;
    height: auto;
}

.tittle-depend h2{
    color: #ffffff;
}

.text-depend{
    background-color: #F8F8F8;
    padding: 70px;
    height: auto;
}

/*----------------------------GENERAL SERVICES-------------------*/

.general-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-inline-size: 1200px;
    margin-inline: auto;
    width: 100%;
    box-sizing: border-box;
    padding-top: 80px;
}

.services-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 275px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 45px 17px;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

.services-container span{
    font-size: 17px;
    font-weight: 600;
    color: #222222;
    line-height: 28px;
}

.pic-services{
    margin-bottom: 30px;
}

.services-container p{
    margin-top: 18px;
}

.btns-services{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 80px;
}


/*------------------------REVIEWS-------------------------*/

.general-testimonials{
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-inline-size: 1200px;
    margin-inline: auto;
    width: 100%;
    box-sizing: border-box;
}

.review{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 375px;
    padding: 45px;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

.review span{
    font-size: 17px;
    font-weight: 600;
    color: #222222;
    line-height: 28px;
    margin-bottom: 15px;
}

.testimonials h2{
    text-align: center;
}

.testimonials{
    padding-top: 80px;
}

.social{
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    padding-bottom: 70px;
}


/*-------------------------------BRANDS------------------------------*/

.brands h2{
    text-align: center;
    padding-top: 80px;
}

.brands-proposition{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-inline-size: 1200px;
    margin-inline: auto;
    margin-top: 40px;
    padding-bottom: 80px;
}

.brand-item span {
    content: "\2713";
    margin-right: 5px;
    color: #0048BB;
}

.brand-item ol {
    width: 270px;
    display: flex;
    flex-direction: column;
}

.mobile-brand{
    display: none;
}

.mobile-brand span {
    content: "\2713";
    margin-right: 5px;
    color: #0048BB;
}


/*---------------------------------NEWS---------------------------------*/

.news{
    padding: 80px 0;
}

.news h2{
    text-align: center;
    margin-bottom: 45px;
}

.news-block{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.news-pic img{
    width: 100%;
}

.news-pic{
    margin-bottom: 25px;
}

.art a{
    font-size: 17px;
    font-weight: 500;
    color: #222222;
    line-height: 28px;
}

.art p{
    margin-top: 12px;
}


/*-------------------------------AREAS-------------------------*/

.areas{
    padding: 80px 0;
    background-color: #F8F8F8;
}

.ar li a{
    font-size: 14px;
    font-weight: 400;
    line-height: 39px;
    color: #0048BB;
}

.btns-areas{
    display: flex;
    gap: 15px;
    margin-top: 45px;
    justify-content: center;
}

.container-areas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-inline-size: 1200px;
    margin-inline: auto;

}

.ar{
    width: 270px;
}

.areas h2{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}


/*-----------------------------------WHY US-------------------------------*/


.why-us{
    padding: 80px 0;
}

.why-us-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-inline-size: 1200px;
    margin-inline: auto;
}

.quality{
    background: #FFFFFF;
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    padding: 45px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 375px;
}

.quality-descr span{
    font-size: 17px;
    font-weight: 500;
    color: #222222;
    line-height: 28px;
}

.quality-descr p{
    margin-top: 15px;
}

.pic-quality{
    margin-bottom: 20px;
}


/*-------------------------------FOOTER-------------------------------*/

.footer{
    padding: 80px 0;
    background: #222222;
}

.block-phone{
    display: flex;
    flex-direction: column;
}

.block-phone span{
    font-size: 20px;
    font-weight: 700;
    color: #FFD21F;
    line-height: 35px;
    margin-top: 35px;
}
.block-phone a{
    font-size: 20px;
    font-weight: 700;
    color: #FFD21F;
    line-height: 35px;
}

.block-contacts{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.block-contacts{
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
}

.block-social{
    margin-top: 30px;
    color: #ffffff;
    font-size: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.block-social i:nth-child(2){
    font-size: 21px;
}

.copir strong{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

.copir{
    margin-top: 30px;
}

.block-ftr span{
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

.general-ftr{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-inline-size: 1200px;
    margin-inline: auto;
}

.links-ftr li{
    list-style: none;
}
.links-ftr ul{
    margin-top: 27px;
}

.links-ftr li a{
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
}

.links-ftr li a:hover{
    color: #c4c4c4;
}


/*---------------------------APPLIANCE PAGE-----------------------------*/

.block-appliance-general{
    padding: 80px 0;
    margin: 0 auto;
    display: flex;
    gap: 35px;
}

.description-all-block{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 66.66%;
}

.sitebar{
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 10px;
    background-color: #F8F8F8;
    width: 33.33%;
    padding: 20px;
}

.categories-appliance span{
    font-size: 17px;
    color: #222222;
    font-weight: 700;
}

.categories-appliance{
    padding: 30px;
    background: #FFFFFF;
    border-radius: 10px;
}

.appliances-links ul li{
    list-style: none;
    display: flex;
    gap: 10px;
}

.appliances-links ul{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.appliances-links ul li a{
    font-size: 14px;
    font-weight: 500;
    color: #222222;
    border: 1px solid#e2e2e2;
    padding: 10px 15px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.appliances-links ul li a:hover{
    background: #0048BB;
    color: #FFFFFF;
    transition: 0.2s;
}

.offer span{
    color: #0048BB;
    font-size: 57px;
    font-weight: 800;
}

.banner-offerta p{
    margin-top: 15px;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
}

.banner-offerta {
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    background: #FFFFFF;
}

.banner-offerta-sitebar{
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    background: #FFFFFF;
}
.banner-offerta-sitebar p{
    margin-top: 15px;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
}
.save-offer span{
    color: #FFD21F;
    font-size: 57px;
    font-weight: 800;
}

.banners-sitebar{
    padding-top: 35px;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.btns-sitebar{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}
.btns-sitebar a{
    width: 100%;
}


.description-all-block h2{
    margin-bottom: 45px;
}

.pic-block-refr img{
    width: 100%;
}

.pic-block-refr{
    margin-bottom: 30px;
}

.block-refrig a{
    color: #0048BB;
    font-size: 20px;
    font-weight: 700;
    line-height: 34px;
}

.descr-refr-repair{
    margin-bottom: 30px;
}

.link-call{
    margin-top: 15px;
}


.descr-refr-repair span{
    font-size: 17px;
    font-weight: 700;
    color: #222222;
}

.block-refrig h3{
    margin-top: 30px;
    font-size: 25px;
    font-weight: 700;
    color: #222222;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.descr-refr-repair p{
    margin-top: 15px;
}

.descr-refr-brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-inline-size: 760px;
    margin-inline: auto;
}

.brand-item-repair{
    width: 180px;
    padding-bottom: 30px;
}

.brand-item-repair ol li span{
    content: "\2713";
    margin-right: 5px;
    color: #0048BB;
}

.ar-repair ol {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    margin-bottom: 30px;
}

.ar-repair ol li a{
    font-size: 14px;
    font-weight: 400;
    line-height: 39px;
    color: #0048BB;
    line-height: 20px;
}


.blog-appliance span{
    font-size: 17px;
    color: #222222;
    font-weight: 700;
}

.blog-appliance{
    padding: 30px;
    background: #FFFFFF;
    border-radius: 10px;
}

.blog-links ul li{
    list-style: none;
    display: flex;
    gap: 10px;
}

.blog-links ul{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.blog-links ul li a{
    font-size: 14px;
    font-weight: 500;
    color: #222222;
    border: 1px solid#e2e2e2;
    padding: 10px 15px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.blog-links ul li a:hover{
    background: #0048BB;
    color: #FFFFFF;
    transition: 0.2s;
}


/*-------------------------------PRICE-------------------------*/


.block-price {
    display: grid;
    align-items: center;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    background-color: #F9F9F9;
    margin-bottom: 30px;
}


.price-descr {
    padding: 40px;
    background-color: #F8F8F8;
}

.price-descr h3{
    margin-bottom: 20px;
    font-size: 28px;
}

.price-descr span{
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
}

.btns-price{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.appliance-repair-price{
    padding: 80px 0;
}

.appliance-repair-price h2{
    margin-bottom: 50px;
    text-align: center;
}

.photo-price img{
    width: 100%;
}

.photo-price {
    height: auto;

}











